<div class="icon-bar">
  <a class="active" (click)="selectItem('profile')"><i class="fa fa-address-book"></i><span>Profile</span></a> 
  <a (click)="selectItem('experiences')"><i class="fa fa-desktop"></i><span>Experiences</span></a> 
  <a (click)="selectItem('abilities')"><i class="fa fa-bug"></i><span>Abilities</span></a> 
  <a (click)="selectItem('projects')"><i class="fa fa-cogs"></i><span>Projects</span></a>
  <a (click)="selectItem('contact')"><i class="fa fa-envelope"></i><span>Contact</span></a>
</div>